.accreditationsSection {
    background-color: #f3f6fb; /* Light background for the section */
    padding: 60px 0; /* Add padding to the section */
  }
  
  .heading {
    font-size: 2.5rem; /* Set font size for the heading */
    font-weight: bold; /* Make the heading bold */
    text-transform: uppercase; /* Uppercase text */
    background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%); /* Gradient color */
    background-clip: text; /* Apply the gradient to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
  }
  
  .subheading {
    font-size: 1.5rem;
    color: black;
    font-weight: lighter;
    text-align: left;
    margin-left: 10px;
    max-width: 300px;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .subheading {
      font-size: 1.2rem;
      max-width: 200px;
    }
  }
  
  
  
  
  .img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for images */
  }
  
  @media (max-width: 768px) {
    .heading {
      font-size: 2rem; /* Smaller font size for smaller screens */
    }
  
    .subheading {
      font-size: 1.2rem; /* Adjust subheading font size for smaller screens */
    }
  }
  