.aboutSec {
  padding-top: 150px;
  padding-bottom: 60px;
}

.heading {
  font-weight: 800 !important;
  text-align: start;
  font-size: 42px;
  line-height: 44px;
  text-transform: uppercase;
  color: #d12023;
  font-family: 'poppins';
  background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  word-wrap: break-word;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  font-weight: 500;
  max-width: 100%;
  word-wrap: break-word;
}

.image1 {
  width: 100%; 
  height: 400px;
  object-fit: cover;
  margin-right: 10px;
}

.image2 {
  width: 48%;
  height: 400px; 
  object-fit: cover;
}

.notice {
  background-color: #091e5f;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.notice_title {
  background: #091e5f;
  color: white;
  padding: 10px;
  font-weight: 700;
  flex: 0 0 auto;
  min-height: 50px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.separator {
  height: 50px;
  width: 1px;
  background-color: white;
  margin: 0 20px;
}

.icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.noticeText {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .description {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 20px;
  }

  .image1 {
    height: 250px;
  }

  .image2 {
    width: 100%;
    height: 150px;
    display: none;
  }

  .separator, .icon {
    display: none;
  }
}

@media (max-width: 576px) {
  .notice {
    flex-direction: column;
    text-align: center;
  }

  .icon {
    margin-bottom: 10px;
  }

  .noticeText {
    font-size: 0.9rem;
  }
}
