.heading {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%);
 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    padding-top: 100px;
    text-transform: uppercase;
    text-align: center; 
  }
  
  .lightText {
    font-weight: 300;
  }
  
  .subtext {
    font-size: 1.2rem;
    color: #5f5f5f;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 
  }
  .ImageBig{
  width: 100%;
  max-width: 1300px;
  height: auto;
  
  }
 .ImageSmall{
  width: 100%;
  min-width: 800px;
  height: auto;
 }
  
 
  @media (max-width: 768px) {
    .image-carousel {
      display: flex;
      
      width: 100%;
      position: relative;
    }
  
    .image-carousel-wrapper {
      display: flex;
      animation: slideLeftToRight 15s linear infinite;
    }
  
    .carousel-item {
      flex-shrink: 0;
      width: 100%; 
      margin-right: 20px; 
    }
  
    @keyframes slideLeftToRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  } 

  .placements_sec{
    padding: 80px;
    background-color: #f3f6fb;
  }
  .placements_sec h3 {
    background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;

    
}

.placements_sec h3 span {
    font-weight: 500;
}

.placements_sec p{
    font-size: 1.2rem;
    color: #5f5f5f;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
  .placements_sec {
    padding: 50px;
  }

  .placements_sec h3 {
    font-size: 2rem;
  }

  .placements_sec p {
    font-size: 1rem;
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .placements_sec {
    padding: 30px;
  }

  .placements_sec h3 {
    font-size: 1.8rem;
  }

  .placements_sec p {
    font-size: 0.9rem;
    line-height: 1.6;
  }
}