.possibility_sec {
  background: linear-gradient(to top, #fff, #f3f6fb);
  padding: 70px 0;
}

.possibility_sec h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.possibility_sec p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
}

.row {
  gap: 10px;
}

.possib_gallery {
  margin-top: 50px;
}

.posible_box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.posible_box2 {
  position: relative;
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

.padding-5 {
  padding: 8px;
}

.posible_box .imgSmal {
  height: 240px;
}
.posible_box2 .imgSmal_7{
  height:100% !important;
  /* width: 100% !important; */
  object-fit: cover;
  border-radius: 10px;
}
.posible_box .bigImg {
  height: 97% !important;
  object-fit: cover;
  border-radius: 10px;
} 

/* Mobile and Tablet Responsiveness */
@media (max-width: 992px) {
  .possibility_sec h3 {
    font-size: 2rem;
  }
  .possibility_sec p {
    font-size: 0.9rem;
  }

  .posible_box .bigImg {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .possibility_sec {
    padding: 40px 20px;
  }

  .possibility_sec h3 {
    font-size: 1.8rem;
  }

  .possibility_sec p {
    font-size: 0.85rem;
  }

  .row {
    gap: 5px;
  }

  .posible_box .bigImg {
    height: 300px;
  }

  .posible_box .imgSmal {
    height: 180px;
  }
  

  .padding-5 {
    padding: 4px;
  }
}

@media (max-width: 576px) {
  .possibility_sec h3 {
    font-size: 1.5rem;
  }

  .possibility_sec p {
    font-size: 0.8rem;
  }

  .posible_box .bigImg {
    height: 250px;
  }

  .posible_box .imgSmal {
    height: 150px;
  }

  .padding-5 {
    padding: 2px;
  }
}