.student_friendly{
  padding: 70px;
}

.heading h3 {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #1d1863 0%, #de1b21 100%);
  /* -webkit-background-clip: text; */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center; 
}

.subtext {
  font-size: 1.2rem;
  color: #5f5f5f;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; 
}
.friendly_box {
  background: #091e5f;
  text-align: center;
  position: relative;
  padding: 20px;
  color: #fff;
  border-radius: 6px;
  margin-top: 85px;
  padding-top: 60px;
  transition: 0.4s;
  cursor: pointer;
}

.friendly_box:hover {
  background: #d12023;
  transition: 0.4s;
}

.friendly_box h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  min-height: 57px;
}

.friendly_box p {
  font-family: 'Poppins';
  font-weight: 500;
}

.friendly_box:hover .pris {
  /* background-image: url(../images/new/home/engal-gren.png) !important; */
  color: #d12023;
}

.pris {
  width: 88px;
  height: 88px;
  background-image: url(../../home/assetsHome/engal.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #091e5f;
  line-height: 88px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translate(-50%, -0%);
}

@media (max-width: 768px) {
  .heading h3 {
    font-size: 1.8rem; 
    padding-top: 50px; 
  }
  .heading .subtext{
    font-size: 1rem;
    
  }

  .student_friendly {
    padding: 30px; /* Adjust padding for mobile */
  }

  .friendly_box {
    width: 90%;  /* Increase width of friendly box on mobile */
    margin-top: 40px;  /* Reduced margin-top on mobile */
  }

  
}

@media (max-width: 480px) {
  .heading h3 {
    font-size: 1.5rem; /* Even smaller font size for very small screens */
  }

  .friendly_box {
    width: 95%;  /* Nearly full width for very small screens */
    margin-top: 60px;
  }

  
}